*{
	margin:0;
	padding:20px;
}
div{
		border:solid 1px #999;
}
p,a{
	font-size:16px;
}
.main{
	background-color:#eee;
}
.team-logo{
	width:160px;
	float:left;
}
.team-logo img
{
	width:80px;
	height:80px;
	padding:0;
	float:left;
}
.team-logo span
{
	float:left;
	padding:0;
	margin-left:10px;
	font-size: 24px;
}
.introdution{
	background:#eee;
	margin:0px 150px 0px 230px;
}
.introdution span{
	font-style: italic;
	font-size:24px;
}
.member-logo{
	width:80px;
	background:#eee;
	float:right;
}
.member-logo img{
	width:80px;
	height:80px;
	padding:0;
	margin:5px auto;
}
.introdution .member a{
	text-decoration:none;
}