/*
 * @file 全局样式
 * @author AidanDai
 * @author zp1996
 * @author alonia
 */

/****************fullPage menu @AidanDai****************/
#menu{
	width: 22px;
	height: 154px;
	position:fixed;
	top: 50%;
	right: 0;
	margin: -78px 25px 0 0;
	z-index: 70;
}
#menu li{
	width: 22px;
	height: 22px;
	float: left;
}
#menu li a{
	display: block;
	width: 14px;
	height: 14px;
	margin: 7px;
	border: 1px solid #666;
	border-radius: 50%;
}
#menu li.active a{
	background-color: #666;
}
@media screen and (max-width: 768px){
	#menu{
		display: none;
	}
}
/*/***************fullPage menu @AidanDai****************/

/*****************main menu @AidanDai****************/
.menu{
	background-color: #4a4a4a;
	height: 2.5rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 70;
}
.menu li{
	padding: 0 10px;
	height: 100%;
	font-size: 15px;
}
.menu li.logo{
	margin-left: 30px;
	float: left;
}
.menu li{
	float: right;
}
.menu li a{
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 32px);
	padding: 15px 16px 0;
	color: #fff;
}
.menu li a.menu-active{
	border-top: 4px solid #a9334c;
	padding-top: 11px;
}
.menu li a:hover{
	background-color: #222;
}
.logo span{
	display: block;
	width: 120px;
	height: 40px;
	margin-top: 5px;
	background-image: url("../images/public.png");
	background-position: 0 0; 
	background-repeat: no-repeat;
}
.fp-viewing-page1 .menu{
	background-color: transparent;
}
/*/***************main menu @AidanDai****************/

/*****************page1 @AidanDai****************/
.fp-viewing-page1 .section{
	background-image: url("../images/page1-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.layer{
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 80;
	
}
.fp-viewing-page1 .layer{
	background-color: transparent;
	-webkit-transition:background-color 2.5s ease-in-out;
	-moz-transition:background-color 2.5s ease-in-out;
	transition:background-color 2.5s ease-in-out;
}
.page1-title{
	background-color: red;
	position: absolute;
	width: 250px;
	height: 228px;
	top: 25%;
	left: 50%;
	margin-left: -125px;
}
.page1-box p{
	width: 80%;
	margin: 0 10%;
	position: absolute;
	top: 55%;
	text-align: center;
	line-height: 1.5;
	font-size: 1.6rem;
	font-family: "宋体";
	color: #fff;
	word-spacing: 100px;
}
.page1-box a{
	display: block;
	background-color: red;
	height: 3rem;
	width: 3rem;
	position: absolute;
	bottom: 3rem;
	left: 50%;
	margin-left: -1.5rem;
	border: 1px solid #fff;
	border-radius: 50%;

}
/*/***************page1 @AidanDai****************/

/*/***************page2 @AidanDai****************/
.page2-box{
	width: 100%;
	height: 84%;
	margin-top: 16%;
}
.page2-box h1{
	font-size: 32px;
	font-family: "宋体";
	text-align: center;
	line-height: 1.5;
	margin-bottom: 1rem;
}
.page2-box p,
.page2-box p a{
	font-size: 24px;
	font-family: "宋体";
}
.page2-box p{
	width: 50rem;
	text-indent: 2rem;
	line-height: 1.5;
	margin: 0 auto;
}
.page2-box p a{
	color: #005196;
	text-decoration: underline;
}
.page2-bg{
	background-color: red;
	width: 1000px;
	height: 300px;
	margin: 200px auto;
}
/*/***************page2 @AidanDai****************/

/*/***************page3 @AidanDai****************/
/*/***************page3 @AidanDai****************/