/*
 * @file 全局样式
 * @author AidanDai
 * @author zp1996
 * @author alonia
 */

/****************fullPage menu @AidanDai****************/
#menu{
	width: 22px;
	height: 154px;
	position:fixed;
	top: 50%;
	right: 0;
	margin: -78px 25px 0 0;
	z-index: 70;
}
#menu li{
	width: 22px;
	height: 22px;
	float: left;
}
#menu li a{
	display: block;
	width: 14px;
	height: 14px;
	margin: 7px;
	border: 1px solid #666;
	border-radius: 50%;
}
#menu li.active a{
	background-color: #666;
}
@media screen and (max-width: 768px){
	#menu{
		display: none;
	}
}
/*/***************fullPage menu @AidanDai****************/

/*****************main menu @AidanDai****************/
.menu{
	background-color: #4a4a4a;
	height: 2.5rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 70;
}
.menu li{
	padding: 0 10px;
	height: 100%;
	font-size: 15px;
}
.menu li.logo{
	margin-left: 30px;
	float: left;
}
.menu li{
	float: right;
}
.menu li a{
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 32px);
	padding: 15px 16px 0;
	color: #fff;
}
.menu li a.menu-active{
	border-top: 4px solid #a9334c;
	padding-top: 11px;
}
.menu li a:hover{
	background-color: #222;
}
.logo span{
	display: block;
	height: 40px;
	width: 130px;
	background-image: url("../images/public.png");
	background-position: -735px -358px;
	background-repeat: no-repeat;
	margin-top: 0.25rem;
}
.fp-viewing-page1 .menu{
	background-color: transparent;
}
/*/***************main menu @AidanDai****************/

/*****************page1 @AidanDai****************/
.fp-viewing-page1 .section{
	background-image: url("../images/page1-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.layer{
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 80;
	
}
.fp-viewing-page1 .layer{
	background-color: transparent;
	-webkit-transition:background-color 2.5s ease-in-out;
	-moz-transition:background-color 2.5s ease-in-out;
	transition:background-color 2.5s ease-in-out;
}
.page1-box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.page1-title{
	background-image: url("../images/public.png");
	background-position: 0 -176px;
	background-repeat: no-repeat;
	position: absolute;
	width: 250px;
	height: 228px;
	top: -30%;
	left: 50%;
	margin-left: -125px;
	transition:top 0.7s;
}
.active .page1-title{
	top: 25%;
	/*-webkit-transition:top 1s;
	-moz-transition:top 1s;*/
	transition-delay: 0.7s;
}
.page1-box p{
	background-image: url("../images/hello.png");
	background-repeat: no-repeat;
	position: relative;
	width: 863px;
	height: 25px;
	top: 72%;
	margin: 0 auto;
	opacity: 0;
	transform: scale(0, 0);
	transition: all 1s;
}
.active .page1-box p{
	opacity: 1;
	transform: scale(1, 1);;

    transition-delay: 0.7s;
}
.page1-box a{
	display: block;
	border-radius: 50%;
	background-image: url("../images/up.png");
	background-repeat: no-repeat;
	height: 41px;
	width: 41px;
	position: absolute;
	bottom: 3rem;
	left: 50%;
	margin-left: -20.5px;
	opacity: 0;
	transition: all 0.7s;
}
.active .page1-box a{
	opacity: 1;
	transition-delay: 1s}
/*/***************page1 @AidanDai****************/

/*/***************page2 @AidanDai****************/
.page2-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.page2-box h1{
	position: relative;
	top: 5rem;
	text-align: center;
	font-size: 32px;
	font-family: "宋体";
	line-height: 1.5;
}
.page2-box p,
.page2-box p a{
	font-size: 24px;
	font-family: "宋体";
}
.page2-box p{
	position: relative;
	top: 6rem;
	width: 50rem;
	text-indent: 2rem;
	line-height: 1.5;
	margin: 0 auto;
}
.page2-box p a{
	color: #005196;
	text-decoration: underline;
}
.page2-box h1,
.page2-box p,
.page2-box p a{
	opacity: 0.2;
	transition: all 1s;
}
.active .page2-box h1,
.active .page2-box p,
.active .page2-box p a{
	opacity: 1;
	transition-timing-function: linear;
	transition-delay: 1.4s;
}
.page2-bg{
	background-image: url("../images/public.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -400px;
	left: 50%;
	width: 863px;
	height: 176px;
	margin-left: -431.5px;
	transition-delay: 0.2s;
}
.active .page2-bg{
	bottom: 4rem;
	transition: all 1.7s;
}
.page2-line{
	height: 16px;
	width: 1000px;
	border-radius: 8px;
	background-color: #59493f;
	position: absolute;
	left: 50%;
	bottom: -416px;
	margin-left: -500px;
	opacity: 0.4;
	transition-delay: 0;
}
.active .page2-line{
	opacity: 1;
	bottom: calc(4rem - 16px);
	transition: all 1.7s;
}
/*/***************page2 @AidanDai****************/

/*/***************page3 animation @zp****************/
.skills{
	display: none;
	width: 80px;
	height: 110px;
	position: absolute;
	z-index: 10000;
}
.pie-left, .pie-right{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
}
.left, .right{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
}
.left, .pie-left{
	clip: rect(0, 80px, 80px, 40px);
}
.right, .pie-right{
	clip: rect(0, 40px, 80px, 0);
}
.skill-name{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.percent{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 10px;
	font-weight: 600;
	background: #fff;
	text-align: center;
	line-height: 60px;
	z-index: 10000;
	position: relative;
}
.unique-skill{
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid #fff;
}
/*百分比动画*/
@keyframes precent-five{
	from{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes precent-four{
	from{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(330deg);
	}
}
@keyframes precent-three{
	from{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(300deg);
	}
}
@keyframes precent-seven{
	0%{
		transform: rotate(180deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(240deg);
	}
}
@keyframes precent-seven-half{
	0%{
		transform: rotate(180deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(270deg);
	}
}
@keyframes precent-eight{
	0%{
		transform: rotate(180deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(300deg);
	}
}
.one-skill .unique-skill{
	background: rgb(69, 114, 167);
}
.one-skill .skill-name{
	color: rgb(89, 186, 255);
}
.one-skill .percent{
	color: #16CCEA;
}
.two-skill .unique-skill{
	background: rgb(135, 86, 179);
}
.two-skill .skill-name{
	color: rgb(204, 121, 191);
}
.two-skill .percent{
	color: rgb(204, 121, 191);
}
.three-skill .unique-skill{
	background: rgb(154, 88, 48);
}
.three-skill .skill-name{
	color: rgb(249, 111, 89);
}
.three-skill .percent{
	color: rgb(249, 111, 89);
}
.four-skill .unique-skill{
	background: rgb(117, 97, 19);
}
.four-skill .skill-name{
	color: rgb(251, 174, 60);
}
.four-skill .percent{
	color: rgb(251, 174, 60);
}
.five-skill .unique-skill{
	background: rgb(13, 99, 86);
}
.five-skill .skill-name{
	color: rgb(82, 201, 171);
}
.five-skill .percent{
	color: rgb(82, 201, 171);
}
/*个人技能值设定*/
.wq-one .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(89, 186, 255);
}
.wq-one .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(89, 186, 255);
}
.wq-two .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(204, 121, 191);
}
.wq-two .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(204, 121, 191);
}
.wq-three .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(249, 111, 89);
}
.wq-three .right{
	transform: rotate(300deg);
	animation: precent-eight 1s;
	background: rgb(249, 111, 89);
}
.wq-four .left{
	transform: rotate(360deg);
	animation: precent-five 0.8s;
	background: rgb(251, 174, 60);
}
.wq-five .left{
	transform: rotate(330deg);
	animation: precent-four 0.8s;
	background: rgb(82, 201, 171);
}
.zp-one .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(89, 186, 255);
}
.zp-one .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(89, 186, 255);
}
.zp-two .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(204, 121, 191);
}
.zp-two .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(204, 121, 191);
}
.zp-three .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(249, 111, 89);
}
.zp-three .right{
	transform: rotate(300deg);
	animation: precent-eight 1s;
	background: rgb(249, 111, 89);
}
.zp-four .left{
	transform: rotate(360deg);
	animation: precent-five 0.8s;
	background: rgb(251, 174, 60);
}
.zp-five .left{
	transform: rotate(330deg);
	animation: precent-four 0.8s;
	background: rgb(82, 201, 171);
}
.wyt-one .left{
	transform: rotate(300deg);
	animation: precent-three 1s;
	background: rgb(89, 186, 255);
}
.wyt-two .left{
	transform: rotate(360deg);
	animation: precent-five 1s;
	background: rgb(204, 121, 191);
}
.wyt-three .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(249, 111, 89);
}
.wyt-three .right{
	transform: rotate(240deg);
	animation: precent-seven 1s;
	background: rgb(249, 111, 89);
}
.wyt-four .left{
	transform: rotate(330deg);
	animation: precent-four 1s;
	background: rgb(251, 174, 60);
}
.wyt-five .left{
	transform: rotate(330deg);
	animation: precent-four 1s;
	background: rgb(82, 201, 171);
}
.zj-one .left{
	transform: rotate(360deg);
	animation: precent-five 1s;
	background: rgb(89, 186, 255);
}
.zj-two .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(204, 121, 191);
}
.zj-two .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(204, 121, 191);
}
.zj-three .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(249, 111, 89);
}
.zj-three .right{
	transform: rotate(270deg);
	animation: precent-seven-half 1s;
	background: rgb(249, 111, 89);
}
.zj-four .left{
	transform: rotate(300deg);
	animation: precent-three 1s;
	background: rgb(251, 174, 60);
}
.zj-five .left{
	transform: rotate(300deg);
	animation: precent-three 1s;
	background: rgb(82, 201, 171);
}
.jhy-one .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(89, 186, 255);
}
.jhy-one .right{
	transform: rotate(240deg);
	animation: precent-seven 1s;
	background: rgb(89, 186, 255);
}
.jhy-two .left{
	transform: rotate(360deg);
	animation: precent-five 1s;
	background: rgb(204, 121, 191);
}
.jhy-three .left{
	transform: rotate(360deg);
	animation: precent-five 0.5s;
	background: rgb(249, 111, 89);
}
.jhy-three .right{
	transform: rotate(240deg);
	animation: precent-seven 1s;
	background: rgb(249, 111, 89);
}
.jhy-four .left{
	transform: rotate(300deg);
	animation: precent-three 1s;
	background: rgb(251, 174, 60);
}
.jhy-five .left{
	transform: rotate(300deg);
	animation: precent-three 1s;
	background: rgb(82, 201, 171);
}
/*/***************page3 animation @zp****************/

/*/***************page3 @AidanDai****************/
.page3-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.member-box{
	height: 10rem;
	position: relative;
	margin: 0 auto;
}
.member-top{
	width: 28rem;
	top: 18%;
}
.member-bottom{
	width: 42rem;
	top: 15%;
}
.member-logo{
	position: relative;
	float: left;
	width: 10rem;
	height: 10rem;
	margin: 0 2rem;
}
.page3-box img,
.member-info,
.member-mask{
	display: block;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	cursor: pointer;
}
.member-info,
.member-mask{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.member-info{
	background-color: #2f2f2f;
	opacity: 0.6;
	color: #fff;
}
.member-mask{
	background-color: rgb(239, 239, 239);
	opacity: 0.9;
}
.member-info h1,
.member-info h2,
.member-info h3{
	font-family: "宋体";
	font-size: 1.25rem;
	text-align: center;
	line-height: 1.5;
}
.member-info h1{
	margin: 40px 0;
}
.member-info h2{
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}
.member-info h3{
	font-size: 0.8rem;
}
.m-i-active:hover{
	display: block;
}
.zp-one,
.wq-one,
.wyt-one,
.zj-one,
.jhy-one{
	top: -30px;
	left: 172px;
}
.zp-two,
.wq-two,
.wyt-two,
.zj-two,
.jhy-two{
	top: 103px;
	left: 195px;
}
.zp-three,
.wq-three,
.wyt-three,
.zj-three,
.jhy-three{
	top: 202px;
	left: 64px;
}
.zp-four,
.wq-four,
.wyt-four,
.zj-four,
.jhy-four
{
	top: 103px;
	left: -77px;
}
.zp-five,
.wq-five,
.wyt-five,
.zj-five,
.jhy-five{
	top: -30px;
	left: -53px;
}
/*/***************page3 @AidanDai****************/

/*/***************page4 @zp****************/
.page4-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.logo-canvas-box{
	width: 300px;
	height: 300px;
	position: relative;
	top: 54px;
	margin: 0 auto;
}
.team-thanks{
	position: absolute;
	bottom: 30%;
	width: 100%;
}
.team-thanks p{
	width: 80%;
	font-family: "宋体";
	font-size: 30px;
	padding: 0 10%;
	text-align: center;
	line-height: 1.5;
	color: rgb(59, 61, 61);
}
.team-thanks p:nth-child(1){
	text-indent: 12px;
	margin-bottom: 10px;
}
.team-thanks a{
	color: #005186;
	text-decoration: underline;
	font-family: "宋体";
}
.team-name{
	position: absolute;
	left: 50%;
	bottom: 20%;
	width: 110px;
	color: #171515;
	font-size: 28px;
	font-weight: 600;
	margin-left: -20px;
	cursor: pointer;
}
@-webkit-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
@-moz-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
@-o-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
.balck-dot{
	position: absolute;
	left: 24px;
	top: -1px;
	width: 100px;
	display: inline-block;
	background: #efefef;
}
.dot{
	font-size: 30px;
}
.page-footer{
	position: absolute;
	bottom: 0px;
	background: rgb(59, 61, 61);;
	width: 100%;
	height: 100px;
	color: #fff;
}
.page-footer p{
	display: block;
	text-align: center;
	line-height: 33px;
	font-size: 14px;
}
.page-footer a{
	color: #fff;
	margin-left: 5px;
}
.page-footer a:hover{
	text-decoration: underline;
}
/*/***************page4 @zp****************/
