/*
 * @file 全局样式
 * @author AidanDai
 * @author zp1996
 * @author alonia
 */

/****************fullPage menu @AidanDai****************/
#menu{
	width: 22px;
	height: 154px;
	position:fixed;
	top: 50%;
	right: 0;
	margin: -78px 25px 0 0;
	z-index: 70;
}
#menu li{
	width: 22px;
	height: 22px;
	float: left;
}
#menu li a{
	display: block;
	width: 14px;
	height: 14px;
	margin: 7px;
	border: 1px solid #666;
	border-radius: 50%;
}
#menu li.active a{
	background-color: #666;
}
@media screen and (max-width: 768px){
	#menu{
		display: none;
	}
}
/*/***************fullPage menu @AidanDai****************/

/*****************main menu @AidanDai****************/
.menu{
	background-color: #4a4a4a;
	height: 2.5rem;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 70;
}
.menu li{
	padding: 0 10px;
	height: 100%;
	font-size: 15px;
}
.menu li.logo{
	margin-left: 30px;
	float: left;
}
.menu li{
	float: right;
}
.menu li a{
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 32px);
	padding: 15px 16px 0;
	color: #fff;
}
.menu li a.menu-active{
	border-top: 4px solid #a9334c;
	padding-top: 11px;
}
.menu li a:hover{
	background-color: #222;
}
.logo span{
	display: block;
	height: 40px;
	width: 130px;
	background-image: url("../images/public.png");
	background-position: -735px -358px;
	background-repeat: no-repeat;
	margin-top: 0.25rem;
}
.fp-viewing-page1 .menu{
	background-color: transparent;
}
/*/***************main menu @AidanDai****************/

/*****************page1 @AidanDai****************/
.fp-viewing-page1 .section{
	background-image: url("../images/page1-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.layer{
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 80;
	
}
.fp-viewing-page1 .layer{
	background-color: transparent;
	-webkit-transition:background-color 2.5s ease-in-out;
	-moz-transition:background-color 2.5s ease-in-out;
	transition:background-color 2.5s ease-in-out;
}
.page1-box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.page1-title{
	background-image: url("../images/public.png");
	background-position: 0 -176px;
	background-repeat: no-repeat;
	position: absolute;
	width: 250px;
	height: 228px;
	top: -30%;
	left: 50%;
	margin-left: -125px;
	transition:top 0.7s;
}
.active .page1-title{
	top: 25%;
	/*-webkit-transition:top 1s;
	-moz-transition:top 1s;*/
	transition-delay: 0.7s;
}
.page1-box p{
	background-image: url("../images/hello.png");
	background-repeat: no-repeat;
	position: relative;
	width: 863px;
	height: 25px;
	top: 60%;
	margin: 0 auto;
	opacity: 0;
	transform: scale(0, 0);
	transition: all 1s;
}
.active .page1-box p{
	opacity: 1;
	transform: scale(1, 1);;

    transition-delay: 0.7s;
}
.page1-box a{
	display: block;
	border-radius: 50%;
	background-image: url("../images/up.png");
	background-repeat: no-repeat;
	height: 41px;
	width: 41px;
	position: absolute;
	bottom: 3rem;
	left: 50%;
	margin-left: -20.5px;
	opacity: 0;
	transition: all 0.7s;
}
.active .page1-box a{
	opacity: 1;
	transition-delay: 1s}
/*/***************page1 @AidanDai****************/

/*/***************page2 @AidanDai****************/
.page2-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.page2-box h1{
	position: relative;
	top: 6rem;
	text-align: center;
	font-size: 32px;
	font-family: "宋体";
	line-height: 1.5;
}
.page2-box p,
.page2-box p a{
	font-size: 24px;
	font-family: "宋体";
}
.page2-box p{
	position: relative;
	top: 8rem;
	width: 50rem;
	margin-left: -25rem;
	text-indent: 2rem;
	line-height: 1.5;
	margin: 0 auto;
}
.page2-box p a{
	color: #005196;
	text-decoration: underline;
}
.page2-box h1,
.page2-box p,
.page2-box p a{
	opacity: 0.2;
	transition: all 1s;
}
.active .page2-box h1,
.active .page2-box p,
.active .page2-box p a{
	opacity: 1;
	transition-timing-function: linear;
	transition-delay: 1.4s;
}
.page2-bg{
	background-image: url("../images/public.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -400px;
	left: 50%;
	width: 863px;
	height: 176px;
	margin-left: -431.5px;
	transition-delay: 0.2s;
}
.active .page2-bg{
	bottom: 6rem;
	transition: all 1.7s;
}
.page2-line{
	height: 16px;
	width: 1000px;
	border-radius: 8px;
	background-color: #59493f;
	position: absolute;
	left: 50%;
	bottom: -416px;
	margin-left: -500px;
	opacity: 0.4;
	transition-delay: 0;
}
.active .page2-line{
	opacity: 1;
	bottom: calc(6rem - 16px);
	transition: all 1.7s;
}
/*/***************page2 @AidanDai****************/

/*/***************page3 @AidanDai****************/
.page3-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.member-box{
	height: 10rem;
	position: relative;
	margin: 0 auto;
}
.member-top{
	width: 28rem;
	top: 20%;
}
.member-bottom{
	width: 42rem;
	top: 30%;
}
.member-logo{
	float: left;
	width: 10rem;
	height: 10rem;
	margin: 0 2rem;
}
.page3-box img,
.member-info{
	display: block;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	cursor: pointer;
}
.member-info{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #aaa;
	opacity: 0.65;
	color: #fff;
}
.member-info h1,
.member-info h2,
.member-info h3{
	font-family: "宋体";
	font-size: 1.25rem;
	text-align: center;
	line-height: 1.5;
}
.member-info h1{
	margin: 40px 0;
}
.member-info h2{
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}
.member-info h3{
	font-size: 0.8rem;
}
.m-i-active:hover{
	display: block;
}
/*/***************page3 @AidanDai****************/

/*/***************page4 @zp****************/
.page4-box{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.logo-canvas-box{
	width: 300px;
	height: 300px;
	position: relative;
	top: 54px;
	margin: 0 auto;
}
.team-thanks{
	position: absolute;
	bottom: 24%;
	width: 100%;
}
.team-thanks p{
	width: 80%;
	font-family: "宋体";
	font-size: 30px;
	padding: 0 10%;
	text-align: center;
	line-height: 1.5;
	color: rgb(59, 61, 61);
}
.team-thanks p:nth-child(1){
	text-indent: 12px;
	margin-bottom: 10px;
}
.team-name{
	position: absolute;
	left: 50%;
	bottom: 16%;
	width: 110px;
	color: #171515;
	font-size: 28px;
	font-weight: 600;
	margin-left: -20px;
	cursor: pointer;
}
/*.team-name:hover .balck-dot{
	animation: moveShow 0.75s;
	-moz-animation: moveShow 0.75s;
	-webkit-animation: moveShow 0.75s;
	-o-animation: moveShow 0.75s;
}*/
@-webkit-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
@-moz-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
@-o-keyframes moveShow{
	0%{
		left: 24px;
	}
	20%{
		left: 48px;
	}
	30%{
		left: 48px;
	}
	50%{
		left: 72px;
	}
	60%{
		left: 72px;
	}
	90%{
		left: 96px;
	}
	100%{
		left: 96px;
	}
}
.balck-dot{
	position: absolute;
	left: 24px;
	top: -1px;
	width: 100px;
	display: inline-block;
	background: #efefef;
}
.dot{
	font-size: 30px;
}
.page-footer{
	position: absolute;
	bottom: 0px;
	background: rgb(59, 61, 61);;
	width: 100%;
	height: 100px;
	color: #fff;
}
.page-footer p{
	display: block;
	text-align: center;
	line-height: 33px;
	font-size: 14px;
}
.page-footer a{
	color: #fff;
	margin-left: 5px;
}
.page-footer a:hover{
	text-decoration: underline;
}
/*/***************page4 @zp****************/
